body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../images/stockholm_netlight.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}

.form-login {
	max-width: 340px;
	padding: 15px;
	margin: 0 auto;
}

.form-login .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-login .form-control:focus {
	z-index: 2;
}

.form-login input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-search {
	margin-bottom: 13px;
}